.env
.env.*
.venv
venv
__pycache__
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
coverage.xml
*.egg-info
dist
build
data/uploads
data/uploads/**
*.log
tests
.idea
.vscode
.DS_Store
Thumbs.db
.git
.gitignore
Dockerfile
.dockerignore
